

  .img-animationRL{
    position: relative;
    animation-name: moveAnimRL;
    animation-duration: 1.5s;
  
  }
  @keyframes moveAnimRL{
    from {
      opacity: 0;
  }
  to{
      opacity: 1;
  }
    0%{
      right: 0%; left: 100%;
    }
    100%{
      right: 100%; left: 0%;
    }
  }